<?xml version="1.0"?>
<Module xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Name>Planning</Name>
  <Title>SystemPlanner</Title>
  <UniversalProjectID>d05fe519-0dfb-4cd9-8c5c-ceb4eaf7fa55</UniversalProjectID>
  <Enabled>false</Enabled>
</Module>