/* Menu */

.menu {
    height: 80px;
    width: 100%;
    left: 0;
    top: 0;
    right: 0;
}

.logo {
    font-family: 'Roboto', sans-serif;
    margin-top: 20px;

}


a {
    text-decoration: none;
}

/* Navbar */

.navbar{
    margin-top: 20px;
}

.navbar ul li {
    display: inline;
}

.navbar ul li a {
    color: #666;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 13px;
    font-family: "roboto";
    line-height: 20px;
    padding: 30px 20px;
}

.navbar ul li a:hover {
    text-decoration: none;
    color: #333;
}

.navbar-button a{

}


.navbar-home-button a{
    color: #333 !important;
}

.sub-menu ul li a{
    position: relative;
    margin: 0;
    padding: 15px 5px 14px 21px;
    font-weight: 400;
    text-align: left;
    font-size: 12px;
    color: #999 !important;
    background: #1c1c1c;
}

.sub-menu:hover ul{
 display: block;
}

.sub-menu ul{
    display: none;
    position: absolute;
    z-index: 9990;
    width: 180px;
    left: 50%;
    top: 100%;
    padding: 0;
    margin: 0 0 0 -90px;
}

/* Logo */

.logo a {
    cursor: pointer;
    font-size: 26px;
    color: #333;
}

.logo a:hover {
    text-decoration: none;
}

.logo a span {
    padding-right: 18px;
}

.logo-1 {
    font-weight: 900;
}

.logo-2 {
    font-weight: 700;
}

.logo-3 {
    font-weight: 400;
}

.logo-4 {
    font-weight: 300;
}

.logo-5 {
    font-weight: 100;
}

/* Search */

.search{
    border-left: 1px solid #ccc;
    margin: 20px 0 20px 19px;
    padding-left: 49px;
}

.search input{
    font-size: 13px;
    color: #999;
    border: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    text-transform: none;
    background: none;
    line-height: 20px;
    width: 42px;
    margin: 0;
    padding: 11px 0;
}

.fa-search{
    color: #999 !important;
}