@media (min-width: 992px) and (max-width: 1199px) {
    .navbar ul li a {
        padding-left: 13px;
        padding-right: 13px;
    }
    .container{
        /* max-width: 970px; */
    }
}

@media (min-width: 768px) and (max-width: 991px){
    .navbar ul li a {
        padding-left: 4px;
        padding-right: 4px;
    }
}