
/* General text */
p, ol, ul, td, th, input, div, span, input
{
	font-family: verdana;
	font-size: 12px;
}

/* Paragraphs */
P
{
	margin: 0px;
	padding: 4px 6px 4px 6px;
	margin-bottom: 3px;
	margin-top: 5px;
}

/* Panel styles */
.Panel
{
	width: 100%;
	margin: 3px 0px 3px 0px;
	border-collapse: collapse;
}

.BodyPanel
{
	margin-top: 5px;
	margin-bottom: 5px;
	vertical-align: top;
	width: 100%;
}

.Panel TD,
.BodyPanel TD
{
	padding: 4px;
}

.PanelContainer
{
	padding-left: 6px;
	padding-right: 6px;
	margin-left: 6px;
	margin-right: 6px;
}

.PanelContainer P
{
}

.PanelContainer .BodyPanel,
.PanelContainer .Panel
{
	margin: 0px 4px 0px 4px;
}

.PanelContainer .BodyPanel TD
{
	padding-top: 2px;
	padding-bottom: 2px;
	padding-left: 2px;
	padding-right: 2px;
}

#Auth
{
	position:absolute;
	top: 3px;
	left: -5px;
	padding-top: 6px;
	padding-right: 6px;
	font-family: verdana;
	font-size: 10px;
	width: 100%;
	text-align:right;
	clear:none;
}

A
{
	color: blue;
}



/* Form styles */
.SmallFieldLabel
{
	font-size: 12px;
	font-family: verdana;
	width: 120px;
	padding-left: 7px;
}

.FieldLabel
{
	font-size: 12px;
	font-family: verdana;
	width: 180px;
	margin: 10px;
	vertical-align: top;
}

TD .Field
{
	font-size: 11px;
	font-family: verdana;
}


.Required
{
	color: Red;
}

.Button
{
	width: 120px;
	font-size: 11px;
}


H1, .Heading1
{

	font-size: 15px;
	font-weight: bold;
	color: #515151;
	margin: 3px 0px 3px 0px;
	padding: 3px 5px 0px 5px;
	font-family: Verdana;
}

H2,
TD.Heading2,
TR.Heading2,
DIV.Heading2
{
	padding: 6px;
	color: #515151;
	background-color: #F5F5F5;
	border-bottom: solid 1px #DEDEDE;
	border-left: solid 4px #DEDEDE;
	border-top: solid 1px #DEDEDE;
	border-right: solid 4px #DEDEDE;
	vertical-align: middle;
	margin-top: 10px;
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 3px;
	height: 17px;
	font-family: Verdana;
	font-size: 12px;
	font-weight: bold;
	clear: top;
}

.Heading2 TD
{
	padding: 5px;
}

.Heading2 DIV
{
	padding: 0px;
	margin: 0px;
}

TR.Heading2 TH
{
	text-align: left;
	padding: 5px;
}

.Heading2Left
{
	margin: 0px;
	padding: 0px;
}

.Heading2Right
{
	font-size: 11px;
	font-weight: normal;
	margin: 0px;
	padding: 0px;
}

.Heading2Right SELECT
{
	margin: 0px 5px 0px 5px;
	font-size: 10px;
}

H3,
.Heading3
{
	font-size: 12px;
	font-weight: bold;
	color: #515151; /*color: #5f6f89;*/
	padding: 2px;
	margin: 3px;
}

.Heading4
{
	font-size: 13px;
	font-weight: bold;
	color: #515151; /*color: #5f6f89;*/
	padding: 0px 0px 0px 0px;
	margin: 5px;
}

.Heading5
{
	font-size: 12px;
	font-weight: bold;
	color: #515151; /*color: #5f6f89;*/
	padding: 0px 3px 0px 3px;
	margin: 6px;
}


.Message
{
	position:relative;
	width: 100% auto;
	border: #e8e8c2 1px solid;
	background-color: #f5f7eb;
	padding: 4px 5px 4px 5px;
	color: Green;
	font-family: Verdana;
	font-size: 12px;
	margin: 5px;
}

.Error
{
	position:relative;
	width: 100% auto;
	border: #C00100 1px solid;
	background-color: #f5f7eb;
	padding: 3px;
	color: #C00100;
	font-family: Verdana;
	font-size: 11px;
}


.Button
{
	font-size: 11px;
}

.FormButton
{
	font-size: 11px;
	width: 80px;
}


.Details
{
	font-weight: normal;
	padding-bottom: 3px;
	color: #878787;
	padding-top: 3px;
	font-family: Verdana;
}

.Details,
.Details SPAN,
.Details A
{
	font-size: 10px;
}


.SortContainer
{
	color: black;
	font-size: 11px;
	font-weight: normal;
}

.SortContainer .Field
{
	font-size: 10px;
}

TD.PagingContainer,
.PagingContainer
{
	font-size: 11px;
	width: 200px;
	font-weight: normal;
	text-align: right;
	padding: 5px;
}

.PagingContainer A
{
	text-decoration: none;
}

HR
{
	//border: none;
	border: solid 1px #F5F5F5;
	width: 98%;
	margin-top: 10px;
}

.Actions
{
	text-align: right;
	padding: 4px;
}

.ViewActions
{
	float:right;
	width: 200px;
	height: 200px;
}

#ActionsContainer
{
	height: 20px;
	width: 100%;
	padding: 0px;
}

#ActionButtons
{
	padding-left: 4px;
	float:left;
	position: inherit;
}

#ViewLinks
{
	float:right;
	text-align:right;
	font-size: 11px;
	padding-right: 4px;
}

UL
{
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 12px;
	padding-left: 10px;
	padding-bottom: 0px;
}

OL
{
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 12px;
	padding-left: 10px;
	padding-bottom: 0px;
	padding-top: 0px;
}

UL LI,
OL LI
{
	
	margin-left: 2px;
	margin-right: 2px;
	margin-top: 5px;
	margin-bottom: 0px;
	padding-top: 8px;
	padding-bottom: 0px;
}

DIV.ListItem, TR.ListItem TD
{
	font-size: 12px;
	vertical-align: middle;
	/* These margins fix a spacing issue with the mouseover */
	padding: 5px;
}

DIV.ListItemOver, TR.ListItemOver TD
{
	background-color: #F5F5F5;
	font-size: 12px;
	vertical-align: middle;
	padding: 5px;
}

TR.ListItem TD DIV,
TR.ListItemOver TD DIV
{
	font-size: 12px;
	vertical-align: middle;
	padding: 4px 0px 4px 0px;
}

UL
{
	margin-top: 8px;
	margin-bottom: 5px;
	margin-right: 0px;
	margin-left: 0px;
	padding-left: 20px;
}

LI
{
	margin-left: 0px;
	padding: 0px;
	padding-bottom: 6px;
}

LI P
{
	padding-top: 0px;
	padding-bottom: 0px;
}

.Zone UL
{

	margin-left: 0px;
}

.Zone INPUT
{
	font-size: 11px;
}

.CodeExample
{
	font-size: 11px;
	font-family: Courier New;
}

.AutoBackup
{
	text-align:center;
}


.AutoBackupSummary
{
	font-size: x11px;
	color: gray;
	margin: 5px;
}


.ContentsItems
{
	padding: 1px 3px 1px 3px;
}

.ContentsItem
{
	padding: 1px 8px 3px 8px;
}

.HeadingLinks
{
	font-size: x11px;
	font-weight: normal;
	float:right;
}


DIV .Title
{
}

DIV .Content
{
	margin-top: 0px;
}

#Filter
{
	float:right;
	font-size: 10px;
}

#Filter input
{
	font-size: 10px;
}

.EntityTree
{
	margin-left: -14px;
}

.EntityTree TD
{
	padding: -1px;
	margin: 0px;
}

.EntityTree A
{
	text-decoration: underline;
}


.EntitySelectExpander
{
	overflow: auto;
	border: solid 1px #DEDEDE;
	padding: 0px;
	margin: 0px;
}

.EntitySelectMenu
{
	text-align: right;
	
	font-size: 11px;
}

.EntitySelectCollapsed
{
	padding: 5px;
}

.CommandSelect,
.CommandSelect SELECT
{
	font-size: 11px;
}

.Trail
{
	padding: 1px 4px 5px 4px;
	border-bottom: dotted 1px #DEDEDE;
	font-size: 11px;
}

.ProjectorMenu
{
	float: right;
	padding-right: 10px;
}

.Vote
{
	white-space: nowrap;
	margin: 3px;
}

.VotedFor
{
	color: green;
}

.VotedAgainst
{
	color: orange;
}

.Extreme
{
	color: red;
}

.Moderate
{
	color: black;
}

.High
{
	color: darkorange;
}

.InProgress,
.Accepted
{
	color: orange;
}

.OnHold
{
	color: black;
}

.Complete,
.Completed,
.Resolved,
.Fixed
{
	color: darkblue;
}

.Tested,
.Closed,
.Implemented
{
	color: green;
}

.Pending
{
	color: red;
}

.VeryLow
{
	color: gray;
}

.Low
{
	color: darkblue;
}

.TreeContainer
{
	margin-left: -14px;
}