/* div{
    border: 5px solid black;
    font-size: 32px;
    letter-spacing: 10px;
    line-height: 32px;
} */

.size {
    width: 200px;
    height: 200px;
}

.round {
    border: 5px solid black;
    border-radius: 50%;
    background-color: red;
    text-align: center;
    overflow: hidden;
    line-height: 190px;
}

#red-text {
    color: red;
}

.star-list li img {
    width: 10px;
    height: 10px;
}

.star-list li {
    background-image: url(images/download.png);
    background-repeat: no-repeat;
    background-size: contain;

    text-indent: 20px;

}

.star-list {
    
}
