<?xml version="1.0"?>
<Module xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Name>Maintenance</Name>
  <Title>RapidResolution</Title>
  <UniversalProjectID>70d60637-52df-4d2e-ab16-3148863dfece</UniversalProjectID>
  <Enabled>false</Enabled>
</Module>