
#BodyContainer
{
/* This invisible border is a hack that fixes a spacing issue */
	border-top: solid 1px white;
	pading: 0px;
	width: auto;
}

#Body {
	font-family: verdana;
	font-size: small;
	height: auto;
	width: 100%;
	margin: 0px;
	padding: 0px;
}