*{
    box-sizing: border-box;
}

table{
    border-collapse: collapse;
    text-align: center;
}

table th{
    padding: 5px;
    background-color: firebrick;
    color: white;
}

table tr th td{
    border: 1px solid black;
}

.today{
    background-color: black;
    color: white;
    font-weight: bold;
}