<?xml version="1.0"?>
<configuration>
	<configSections>
		<sectionGroup name="system.web.extensions" type="System.Web.Configuration.SystemWebExtensionsSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
			<sectionGroup name="scripting" type="System.Web.Configuration.ScriptingSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
				<section name="scriptResourceHandler" type="System.Web.Configuration.ScriptingScriptResourceHandlerSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication"/>
				<sectionGroup name="webServices" type="System.Web.Configuration.ScriptingWebServicesSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
					<section name="jsonSerialization" type="System.Web.Configuration.ScriptingJsonSerializationSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="Everywhere"/>
					<section name="profileService" type="System.Web.Configuration.ScriptingProfileServiceSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication"/>
					<section name="authenticationService" type="System.Web.Configuration.ScriptingAuthenticationServiceSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication"/>
					<section name="roleService" type="System.Web.Configuration.ScriptingRoleServiceSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication"/>
				</sectionGroup>
			</sectionGroup>
		</sectionGroup>
		<section name="DataProvider" type="SoftwareMonkeys.WorkHub.Data.DataProviderConfiguration, SoftwareMonkeys.WorkHub.Data" allowDefinition="MachineToApplication"/>
		<section name="StateProvider" type="SoftwareMonkeys.WorkHub.State.StateProviderConfiguration, SoftwareMonkeys.WorkHub.State" allowDefinition="MachineToApplication"/>
	</configSections>  
	<appSettings>
		<!--add key="ReportIssueUrl" value="http://www.softwaremonkeys.net/hub/Report-Issue.aspx?CurrentProjectID=${Project.ID}&amp;ProjectVersion=${Project.Version}"/-->
		<!--add key="PostSuggestionUrl" value="http://www.softwaremonkeys.net/hub/Post-Suggestion.aspx?CurrentProjectID=${Project.ID}&amp;ProjectVersion=${Project.Version}"/-->
		<!-- The following entries are for use during testing. -->
		<add key="ReportIssueUrl" value="http://localhost/WorkHub/Report-Issue.aspx?CurrentProjectID=${Project.ID}&amp;ProjectVersion=${Project.Version}"/>
		<add key="PostSuggestionUrl" value="http://localhost/WorkHub/Post-Suggestion.aspx?CurrentProjectID=${Project.ID}&amp;ProjectVersion=${Project.Version}"/>
		
		<add key="UniversalProjectID" value="e064ffb9-ade8-47fd-96d3-ff0ede8e7929"/>
		<add key="SecureData" value="true"/>
		<add key="EnableErrorHandling" value="true"/>
		<add key="FriendlyUrls.Enabled" value="true"/>

		<add key="Logging.Info.Enabled" value="true"/>
		<add key="Logging.Debug.Enabled" value="true"/>

		<add key="Logging.Debug.DataUtilities.Enabled" value="false"/>
		<!-- Performance bottleneck -->
		<add key="Logging.Debug.DataReferencer.Enabled" value="true"/>
		<add key="Logging.Debug.DataProviderInitializer.Enabled" value="true"/>
		<add key="Logging.Debug.DataAdapter.Enabled" value="false"/>
		<!-- Performance bottleneck -->
		<add key="Logging.Debug.EntitiesUtilities.Enabled" value="true"/>

		<add key="Logging.Debug.ConfigFactory.Enabled" value="true"/>
		<add key="Logging.Debug.ConfigFactory`1[T].Enabled" value="false"/>
		<!-- Performance bottleneck -->
		<add key="Logging.Debug.ConfigSaver.Enabled" value="false"/>
		<!-- Performance bottleneck -->
		<add key="Logging.Debug.Config.Enabled" value="true"/>
		<add key="Logging.Debug.Db4oDataStore.Enabled" value="false"/>
		<!-- Performance bottleneck -->
		<add key="Logging.Debug.Db4oDataProvider.Enabled" value="true"/>
		<!-- Performance bottleneck -->
		<add key="Logging.Debug.Db4oDataStoreFactory.Enabled" value="true"/>
		<add key="Logging.Debug.Db4oDataImporter.Enabled" value="true"/>
		<add key="Logging.Debug.DataSchema.Enabled" value="false"/>
		<add key="Logging.Debug.DataSchemaCommand.Enabled" value="false"/>
		<add key="Logging.Debug.RenamePropertyCommand.Enabled" value="false"/>
		<add key="Logging.Debug.DataImporter.Enabled" value="false"/>
		<!-- Performance bottleneck -->
		<add key="Logging.Debug.DataReferencer.Enabled" value="false"/>
		<!-- Performance bottleneck -->
		<add key="Logging.Debug.Db4oDataReferencer.Enabled" value="false"/>
		<!-- Performance bottleneck -->
		<add key="Logging.Debug.Db4oDataSaver.Enabled" value="true"/>
		<add key="Logging.Debug.Db4oDataUpdater.Enabled" value="true"/>
		<add key="Logging.Debug.Db4oDataDeleter.Enabled" value="true"/>
		<add key="Logging.Debug.Db4oDataReader.Enabled" value="true"/>
		<add key="Logging.Debug.Db4oDataIndexer.Enabled" value="false"/>
		<add key="Logging.Debug.Db4oDataStoreOpener.Enabled" value="false"/>
		<add key="Logging.Debug.Db4oDataActivator.Enabled" value="false"/>

		<add key="Logging.Debug.ApplicationRestorer.Enabled" value="true"/>
		<add key="Logging.Debug.BatchState.Enabled" value="false"/>
		<!-- Performance bottleneck -->
		<add key="Logging.Debug.Batch.Enabled" value="false"/>
		<!-- Performance bottleneck -->
		<add key="Logging.Debug.UrlCreator.Enabled" value="false"/>
		<!-- Performance bottleneck -->
		<add key="Logging.Debug.UrlRewriter.Enabled" value="false"/>
		<add key="Logging.Debug.SiteMapManager.Enabled" value="false"/>
		<!-- Performance bottleneck -->
		<add key="Logging.Debug.SiteMapNode.Enabled" value="false "/>
		<!-- Performance bottleneck -->
		<add key="Logging.Debug.SiteMap.Enabled" value="true"/>
		<!-- Performance bottleneck -->
		<add key="Logging.Debug.ModuleFacade.Enabled" value="true"/>
		<!-- Performance bottleneck -->
		<add key="Logging.Debug.ModuleContextCollection.Enabled" value="false"/>
		<!-- Performance bottleneck -->
		<add key="Logging.Debug.ModuleState.Enabled" value="false"/>
		<!-- Performance bottleneck -->
		<add key="Logging.Debug.ModuleStateConfiguration.Enabled" value="true"/>
		<add key="Logging.Debug.ModulesInitializer.Enabled" value="true"/>
		<add key="Logging.Debug.ModuleUtilities.Enabled" value="false"/>
		<add key="Logging.Debug.ModuleLoader.Enabled" value="false"/>
		<!-- Performance bottleneck -->
		<add key="Logging.Debug.ModuleProjectionsEnabler.Enabled" value="false"/>
		<!-- Performance bottleneck -->
		<add key="Logging.Debug.ModulePartsEnabler.Enabled" value="false"/>
		<!-- Performance bottleneck -->
		<add key="Logging.Debug.StateProviderInitializer.Enabled" value="true"/>
		<add key="Logging.Debug.WebUtilities.Enabled" value="true"/>
		<add key="Logging.Debug.FileMapper.Enabled" value="false"/>
		<add key="Logging.Debug.PlanningModuleContext.Enabled" value="true"/>
		<add key="Logging.Debug.TasksModuleContext.Enabled" value="true"/>
		<add key="Logging.Debug.ProjectsState.Enabled" value="true"/>
		<add key="Logging.Debug.SetupChecker.Enabled" value="true"/>
		<add key="Logging.Debug.ApplicationInstaller.Enabled" value="true"/>
		<add key="Logging.Debug.ApplicationBackup.Enabled" value="true"/>

		<add key="Logging.Debug.EntityForm.Enabled" value="false"/>
		<!-- Performance bottleneck -->
		<add key="Logging.Debug.EntityState.Enabled" value="false"/>
		<!-- Performance bottleneck -->
		<add key="Logging.Debug.EntityFormHelper.Enabled" value="false"/>
		<add key="Logging.Debug.EntityScanner.Enabled" value="false"/>
		<!-- Performance bottleneck -->
		<add key="Logging.Debug.EntityInitializer.Enabled" value="false"/>
		<add key="Logging.Debug.EntityFileNamer.Enabled" value="false"/>
		<!-- Performance bottleneck -->
		<add key="Logging.Debug.EntitySaver.Enabled" value="false"/>
		<!-- Performance bottleneck -->
		<add key="Logging.Debug.EntityLoader.Enabled" value="false"/>
		<!-- Performance bottleneck -->
		<add key="Logging.Debug.EntityStateCollection.Enabled" value="false"/>
		<!-- Performance bottleneck -->
		<add key="Logging.Debug.EntitiesUtilities.Enabled" value="false"/>
		<!-- Performance bottleneck -->

		<add key="Logging.Debug.EntityReference.Enabled" value="false"/>
		<!-- Performance bottleneck -->

		<add key="Logging.Debug.RetrieveStrategy.Enabled" value="true"/>
		<!-- Performance bottleneck -->
		<add key="Logging.Debug.StrategyScanner.Enabled" value="false"/>
		<!-- Performance bottleneck -->
		<add key="Logging.Debug.StrategySaver.Enabled" value="false"/>
		<!-- Performance bottleneck -->
		<add key="Logging.Debug.StrategyInfo.Enabled" value="false"/>
		<!-- Performance bottleneck -->
		<add key="Logging.Debug.StrategyLocator.Enabled" value="false"/>
		<!-- Performance bottleneck -->
		<add key="Logging.Debug.StrategyLoader.Enabled" value="false"/>
		<!-- Performance bottleneck -->
		<add key="Logging.Debug.StrategyCreator.Enabled" value="false"/>
		<!-- Performance bottleneck -->
		<add key="Logging.Debug.StrategyStateNameValueCollection.Enabled" value="false"/>
		<!-- Performance bottleneck -->
		<add key="Logging.Debug.ReactionScanner.Enabled" value="false"/>
		<!-- Performance bottleneck -->
		<add key="Logging.Debug.ReactionSaver.Enabled" value="false"/>
		<!-- Performance bottleneck -->
		<add key="Logging.Debug.ReactionInfo.Enabled" value="false"/>
		<!-- Performance bottleneck -->
		<add key="Logging.Debug.ReactionLocator.Enabled" value="false"/>
		<!-- Performance bottleneck -->
		<add key="Logging.Debug.ReactionLoader.Enabled" value="false"/>
		<!-- Performance bottleneck -->
		<add key="Logging.Debug.ReactionCreator.Enabled" value="false"/>
		<!-- Performance bottleneck -->
		<add key="Logging.Debug.ReactionStateNameValueCollection.Enabled" value="false"/>
		<!-- Performance bottleneck -->
		<add key="Logging.Debug.ControllerScanner.Enabled" value="false"/>
		<!-- Performance bottleneck -->
		<add key="Logging.Debug.ControllersInitializer.Enabled" value="false"/>
		<add key="Logging.Debug.ControllerSaver.Enabled" value="false"/>
		<!-- Performance bottleneck -->
		<add key="Logging.Debug.ControllerLoader.Enabled" value="false"/>
		<!-- Performance bottleneck -->
		<add key="Logging.Debug.ProjectionLocator.Enabled" value="false"/>
		<!-- Performance bottleneck -->
		<add key="Logging.Debug.ProjectionScanner.Enabled" value="false"/>
		<!-- Performance bottleneck -->
		<add key="Logging.Debug.ProjectionSaver.Enabled" value="false"/>
		<!-- Performance bottleneck -->
		<add key="Logging.Debug.ProjectionLoader.Enabled" value="false"/>
		<!-- Performance bottleneck -->
		<add key="Logging.Debug.ProjectionMapper.Enabled" value="false"/>
		<!-- Performance bottleneck -->
		<add key="Logging.Debug.PartSaver.Enabled" value="false"/>
		<!-- Performance bottleneck -->
		<add key="Logging.Debug.PartLocator.Enabled" value="false"/>
		<!-- Performance bottleneck -->
		<add key="Logging.Debug.PartLoader.Enabled" value="false"/>
		<!-- Performance bottleneck -->
		<add key="Logging.Debug.EntitySelect.Enabled" value="true"/>
		<add key="Logging.Debug.EntitySelect`1[E].Enabled" value="true"/>
		<add key="Logging.Debug.ElementControl.Enabled" value="false"/>
		<add key="Logging.Debug.ElementCreator.Enabled" value="false"/>
		<add key="Logging.Debug.Reflector.Enabled" value="false"/>
		<!-- Performance bottleneck -->

		<add key="Backup.Directory" value="App_Data\Backups"/>
		<add key="Backup.EnableAuto" value="true"/>
		<add key="Backup.AutoInterval" value="1"/>
		<!-- Hours -->
		<add key="Legacy.Directory" value="App_Data\Legacy"/>
		<add key="Export.Directory" value="App_Data\Export"/>
		<add key="SmtpServer" value="localhost"/>
		<add key="Authentication.StandardDuration.Hours" value="2"/>
		<add key="Authentication.PersistDuration.Days" value="14"/>
	</appSettings>
	<connectionStrings/>
	<system.web>
		<trace enabled="false" pageOutput="false" mostRecent="false"/>
		<!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
		<compilation debug="false">

			<assemblies>
				<add assembly="System.Xml, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Core, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
				<add assembly="System.Data.DataSetExtensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Xml.Linq, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
			</assemblies>

		</compilation>
		<!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
		<authentication mode="Forms">
			<forms timeout="160"/>
		</authentication>


		<sessionState timeout="150"/>

		<!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="Off" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->

		<membership defaultProvider="MemberProvider">
			<providers>
				<add minRequiredPasswordLength="5" minRequiredNonalphanumericCharacters="0" name="MemberProvider" type="SoftwareMonkeys.WorkHub.Web.Security.MemberProvider"/>
			</providers>
		</membership>

		<roleManager defaultProvider="RoleProvider" enabled="true" cacheRolesInCookie="false">
			<providers>
				<clear/>
				<add name="RoleProvider" type="SoftwareMonkeys.WorkHub.Web.Security.RoleProvider, SoftwareMonkeys.WorkHub.Web" applicationName="WorkHub" writeExceptionsToEventLog="true"/>
			</providers>
		</roleManager>
		<webParts>
			<personalization defaultProvider="DynamicPersonalizationProvider">
				<providers>
					<add name="DynamicPersonalizationProvider" type="SoftwareMonkeys.WorkHub.Web.Providers.DynamicPersonalizationProvider, SoftwareMonkeys.WorkHub.Web"/>
				</providers>
				<authorization>
					<allow verbs="enterSharedScope" users="*" roles="Administrator"/>
					<allow verbs="modifyState" users="*"/>
				</authorization>
			</personalization>
		</webParts>

		<machineKey validationKey="F6E81F8D841A2F1EB4E64F0E8E2BB84D7F4E2687AFF16313AAF05A02CF88209D42AAF7B24114DA7D56918277930FD4D63E89D8C0F81AC29567CF778C198EF88E" decryptionKey="67FD3053F0E439894984A9DBB2A248856412C1C502B03B82C8154394899DBFDF" validation="SHA1" decryption="AES"/> 

		<pages validateRequest="false" enableEventValidation="false" viewStateEncryptionMode="Never">
			<controls>
				<add tagPrefix="asp" namespace="System.Web.UI" assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
				<add tagPrefix="asp" namespace="System.Web.UI.WebControls" assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
			</controls>
		</pages>

		<httpHandlers>
			<remove verb="*" path="*.asmx"/>
			<add verb="*" path="*.asmx" validate="false" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
			<add verb="*" path="*_AppService.axd" validate="false" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
			<add verb="GET,HEAD" path="ScriptResource.axd" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" validate="false"/>
		</httpHandlers>
		<httpModules>
			<add name="ScriptModule" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
		</httpModules>


	</system.web>

	<system.codedom>
		<compilers>
			<compiler language="c#;cs;csharp" extension=".cs" warningLevel="4" type="Microsoft.CSharp.CSharpCodeProvider, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
				<providerOption name="CompilerVersion" value="v3.5"/>
				<providerOption name="WarnAsError" value="false"/>
			</compiler>
			<compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" warningLevel="4" type="Microsoft.VisualBasic.VBCodeProvider, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
				<providerOption name="CompilerVersion" value="v3.5"/>
				<providerOption name="OptionInfer" value="true"/>
				<providerOption name="WarnAsError" value="false"/>
			</compiler>
		</compilers>
	</system.codedom>

	<!-- 
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
	<system.webServer>
		<validation validateIntegratedModeConfiguration="false"/>
		<modules>
			<remove name="ScriptModule"/>
			<add name="ScriptModule" preCondition="managedHandler" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
		</modules>
		<handlers>
			<remove name="WebServiceHandlerFactory-Integrated"/>
			<remove name="ScriptHandlerFactory"/>
			<remove name="ScriptHandlerFactoryAppServices"/>
			<remove name="ScriptResource"/>
			<add name="ScriptHandlerFactory" verb="*" path="*.asmx" preCondition="integratedMode" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
			<add name="ScriptHandlerFactoryAppServices" verb="*" path="*_AppService.axd" preCondition="integratedMode" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
			<add name="ScriptResource" preCondition="integratedMode" verb="GET,HEAD" path="ScriptResource.axd" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
		</handlers>
	</system.webServer>

	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Extensions" publicKeyToken="31bf3856ad364e35"/>
				<bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="3.5.0.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Extensions.Design" publicKeyToken="31bf3856ad364e35"/>
				<bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="3.5.0.0"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>

	<DataProvider defaultProvider="Db4oDataProvider">
		<providers>
			<add name="Db4oDataProvider" type="SoftwareMonkeys.WorkHub.Data.Db4o.Db4oDataProvider"/>
		</providers>
	</DataProvider>
	<StateProvider defaultProvider="WebStateProvider">
		<providers>
			<add name="WebStateProvider" type="SoftwareMonkeys.WorkHub.Web.State.WebStateProvider"/>
		</providers>
	</StateProvider>

</configuration>
