.number-style {
    width: 20px;
    height: 20px;
}

input {
    width: 90%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    background-color: orchid;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=radio] {
    width: 20px;
}

input[type=text] {
    margin-left: auto;
    margin-right: auto;
}

body {
    font-family: 'Nunito', sans-serif;
}

main {
    width: 350px;
    margin-left: auto;
    margin-right: auto;
    background-color: pink;
}

label {
    text-align: left;
}

h1 {
    text-align: center;
}

.form-title {
    font-size: 20px;
}