<?xml version="1.0"?>
<Module xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Name>Components</Name>
  <Title>ComponentSpace</Title>
  <UniversalProjectID>61cf9db5-88da-41d0-b504-66bce00c3734</UniversalProjectID>
  <Enabled>false</Enabled>
</Module>