<?xml version="1.0"?>
<Module xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Name>Projects</Name>
  <Title>OpenProjects</Title>
  <UniversalProjectID>19b18096-a320-4f79-bd8c-1a90df9e7324</UniversalProjectID>
  <Enabled>false</Enabled>
</Module>