p {
color: red;
}

.green-text{
    color: green;
}

#green{
    color: blue;
}
.box {
    padding: 10px;
    margin: 10px;
    border: 1px solid black;
    background-color: blueviolet;
    color: white;
    font-family: sans-serif;
}

.button {
    border: 4px solid pink;
    padding: 10px;
    text-decoration: unset;
}
span{
    margin: 20px;
    padding: 20px;
    display: inline-block;
}