input {
    border: 2px solid red;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    max-width: 30px;
}

button {
    border: 0px solid black;
    border-radius: 20%;

    background-color: rgb(255, 243, 66)
}

body {
    background-color: rgb(255, 162, 66);
}

.col-12 h1 {
    margin-left: auto;
    margin-right: auto;
}

.size{
    max-width: 100px;
}