input {
    height: 48px;
    border-radius: 48px;
    padding-left: 20px;
    margin-bottom: 10px;
    border: 1px solid black;
    line-height: 32px;
    font-size: 18px;
}

button {
    background-color: #1bd2c7;
    color: #fff;
    width: 100%;
    line-height: 45px;
    border-radius: 50px;
    border: 1px solid transparent;
}

body {
    background-color: rgb(255, 255, 255);
}

.col-12 h1 {
    margin-left: auto;
    margin-right: auto;
}

.size {
    max-width: 100px;
}

main{
    max-width: 500;
    margin-left: auto;
    margin-right: auto;
}